
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html {
    display: table;
    margin: auto;
}

td{
    width: 100px;
    height: 100px;

    border: 10px;
    border-style: solid;
    border-width: 5px;

    text-align: center; 
    vertical-align: middle;
}

#bodyDiv{

 
    display: grid;

    grid-template-columns: repeat(10, 10rem);
    grid-template-rows: repeat(12, 10rem);
    
    vertical-align: middle;
}


#replaceable{
    
    grid-row: 2/10;
    grid-column: 1/11;
    justify-self: center;
    position: relative;
    top: 1.5rem;
    
}

#welcomeMessage{

    grid-row: 1 /2;
    grid-column: 1 / 11;
    font-weight: 700;
    font-size: 20px;
    justify-self: center;
    align-self: center;
}

html{
    background-color: rgb(208, 96, 193);
}

h1{

   font-size: 30px;
   font-weight: 750;

   text-align: center; 
   vertical-align: middle;
   position: relative;
   top: 20px;

}

h2{

    font-size: 30px;
   font-weight: 750;

   text-align: center; 
   vertical-align: middle;
   position: relative;
   top: 20px;

}

h3{

    font-size: 30px;
   font-weight: 750;

   text-align: center; 
   vertical-align: middle;
   position: relative;
   top: 20px;
}

h4{

    font-size: 30px;
   font-weight: 750;

   text-align: center; 
   vertical-align: middle;
   position: relative;

   top: 20px;
}

#loseDiv{
    position: fixed;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);

    font-size: 60px;
    font-weight: bolder;
    color: rgb(240, 5, 5);
}

#scoreDiv{

   

    font-size: 25px;
    font-weight: 400

}

#resetButton{
    position: relative;
    
    top:1rem;
    left: 5rem;

    font-size: 17px;
    font-weight: 500;

    background-color: rgb(219, 220, 219);
    color: rgb(0, 0, 0);


}

